@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


h4 {
    color: #333B69;
    font-weight: 600;
    font-size: 22px;
    margin: 25px 0;

}

h5 {

    font-weight: 600;
    font-size: 25px;
}

h6 {
    font-weight: 500;
    font-size: 16px;
}

/* p {
    color: red;
    font-weight: 400;
    font-size: 1.17vw;
} */

.container {
    width: 1190px;
    height: 1000px;
    background-color: #F5F7FA;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.section1 {
    margin-bottom: 0px;
}

.section1 .cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.section1 .card {
    width: 255px;
    height: 120px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* 
    >p {
        font-family: "inter", sans-serif;
        font-weight: 600;
        font-size: 1.46vw;
        color: red;
        text-align: right;

    } */


    >.ad {
        >p {
            margin-bottom: 10px;
            color: #718EBF;
        }
    }


}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        width: 30px;
        height: 30px;
    }
}

.card:nth-child(1) .circle {
    background-color: #FFF5D9;
}

.card:nth-child(2) .circle {
    background-color: #E7EDFF;

}

.card:nth-child(3) .circle {
    background-color: #FFE0EB;

}

.card:nth-child(4) .circle {
    background-color: #DCFAF8;

}

.section2 {
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    display: flex;
    gap: 20px;

}

table {
    width: 730px;
    height: 235px;
    border-radius: 25px;
    background-color: white;
    padding: 15px;

}

tr td:nth-child(6) {
    color: #FE5C73;
}

tr:nth-child(3) td:nth-child(6) {
    color: #16DBAA;
}

tr td {
    color: #718EBF;
}

tr td h6 {
    color: #232323;
}

tr:nth-child(1) .square {
    background-color: #DCFAF8;

}

tr:nth-child(2) .square {
    background-color: #E7EDFF;

}

tr:nth-child(3) .square {
    background-color: #FFE0EB;

}

.section2 .card {
    >.my {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    >.credit {
        display: flex;
        justify-content: space-between;

        >.subcard {
            width: 350px;
            height: 235px;
            padding: 20px;
            border-radius: 25px;

            >.balance {
                font-family: "Lato", sans-serif;
                display: flex;
                justify-content: space-between;

                >div h5 {
                    font-size: 20px;
                }

                >div p {
                    font-size: 12px;
                }

                >img {

                    width: 34.771297454833984px;
                    height: 34.771297454833984px;
                }
            }

            >.info {
                font-family: "Lato", sans-serif;
                width: 230px;
                height: 40px;
                margin: 30px 0;
                display: flex;
                justify-content: space-between;

                >.cardholder {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    >p {
                        font-family: "Lato", sans-serif;
                        font-size: 12px;
                        font-weight: 400;
                        color: #FFFFFFB2;
                        line-height: 100%;

                    }

                    >h6 {
                        font-family: "Lato", sans-serif;
                        font-weight: 600;
                        font-size: 15px;
                        color: white;
                    }



                }

                >.expiry {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    >p {
                        font-family: "Lato", sans-serif;
                        font-size: 12px;
                        font-weight: 400;
                        color: #FFFFFFB2;

                    }

                    >h6 {
                        font-family: "Lato", sans-serif;
                        font-weight: 600;
                        font-size: 15px;
                        color: white;
                    }

                }
            }

            >.number {

                width: 350px;
                height: 70px;
                border-bottom-right-radius: 25px;
                border-bottom-left-radius: 25px;
                margin-left: -20px;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                >h3 {

                    font-family: "Lato", sans-serif;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 100%;
                    margin: 0;

                }

                >img {
                    width: 2.64vw;
                    height: 1.80vw;

                }
            }





        }
    }
}

.section2 .subcard:nth-child(1) {
    color: white;
    /* background-image: linear-gradient(to right, #4C49ED, #0A06F4); */
    background-image: linear-gradient(to bottom, #2D60FF, #539BFF);

    >.number {
        background-image: linear-gradient(to bottom, #2D60FF, #539BFF);
    }
}

.section3 {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;

}

.section3 .card:nth-child(1) {

    >img {
        width: 730px;
        height: 364px;
        border-radius: 25px;
    }
}

.v {
    width: 350px;
    height: 364px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.v1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 60px;

    >p {
        font-weight: 400;
        font-size: 16px;
        text-align: right;
        color: #718EBF;
    }
}

.v2 {
    display: flex;
    gap: 10px;
}

.v3 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    >p {
        font-weight: 400;
        font-size: 15px;
        color: #718EBF;
    }

    >h6 {
        color: #B1B1B1;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
    }
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: #DCFAF8;

    >img {
        width: 25px;
        height: 25px;
    }
}

.v1:nth-child(2) .v2 .square {
    background-color: #FFF5D9;

}

.v1:nth-child(3) .v2 .square {
    background-color: #E7EDFF;

}

.v1:nth-child(4) .v2 .square {
    background-color: #FFE0EB;

}

@media screen and (max-width:1024px) {
    h4 {
        color: #333B69;
        font-weight: 600;
        font-size: 18px;
        margin: 20px 0;

    }

    h5 {

        font-weight: 600;
        font-size: 16px;
    }


    .container {
        width: 793px;
        height: 869px;
        padding: 30px;
    }

    .section1 .cards {
        gap: 10px;
    }

    .section1 .card {
        width: 167px;
        height: 90px;
        border-radius: 20px;
        gap: 10px;

        >.ad {
            >p {
                margin-bottom: 10px;
                color: #718EBF;
            }
        }
    }

    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;

        >img {
            width: 20px;
            height: 20px;
        }
    }

    .section2 {
        margin-top: 0px;
        gap: 20px;
    }

    table {
        width: 487px;
        height: 170px;
        border-radius: 20px;
        padding: 15px;

    }

    tr td,
    tr td p {
        font-size: 12px;
    }

    tr td h6 {
        font-size: 12px;
    }

    table .square {
        width: 40px;
        height: 40px;

        >img {
            width: 20px;
            height: 20px;
        }
    }


    .section2 .card {


        >.credit {

            >.subcard {
                width: 231px;
                height: 170px;
                border-radius: 20px;

                >.balance {

                    >div h5 {
                        font-size: 16px;

                    }

                    >div p {
                        font-size: 11px;
                    }

                    >img {
                        width: 29px;
                        height: 29px;

                    }
                }

                >.info {
                    width: 170px;
                    height: 30px;
                    margin: 20px 0;

                    >.cardholder {

                        >p {
                            font-size: 10px;

                        }

                        >h6 {
                            font-weight: 600;
                            font-size: 13px;
                        }
                    }

                    >.expiry {

                        >p {
                            font-size: 10px;
                            font-weight: 400;
                        }

                        >h6 {
                            font-weight: 600;
                            font-size: 13px;
                        }

                    }
                }

                >.number {

                    width: 231px;
                    height: 51px;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    margin-left: -20px;
                    padding: 20px;

                    >h3 {
                        font-weight: 600;
                        font-size: 15px;

                    }

                    >img {
                        width: 27px;
                        height: 18.40909194946289px;
                    }
                }
            }
        }
    }


    .section3 {
        gap: 20px;

    }

    .section3 .card:nth-child(1) {

        >img {
            width: 487px;
            height: 270px;
            border-radius: 20px;
        }
    }

    .v {
        width: 231px;
        height: 270px;
        border-radius: 20px;
        padding: 10px;

    }

    .v1 {
        width: 191px;
        height: 45px;


        >p {
            font-weight: 400;
            font-size: 13px;
            text-align: right;
        }
    }

    .v2 {
        gap: 10px;
    }

    .v3 {

        >p {
            font-weight: 400;
            font-size: 12px;
        }

        >h6 {
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 13px;
        }
    }

    .v2 .square {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 20px;
        background-color: #DCFAF8;

        >img {
            width: 18px;
            height: 18px;
        }
    }

    .v1:nth-child(2) .v2 .square {
        background-color: #FFF5D9;

    }

    .v1:nth-child(3) .v2 .square {
        background-color: #E7EDFF;

    }

    .v1:nth-child(4) .v2 .square {
        background-color: #FFE0EB;

    }
}

@media screen and (max-width:500px) {


    .section1 .cards {
        display: grid !important;
        grid-template-columns: auto auto !important;
        gap: 20px;

    }

    .section1 .cards .card {
        width: 155px !important;
        height: 85px !important;
    }

    .section1 .card .ad {
        width: 66px;
        height: 38px;

    }

    .section1 .card .ad h5 {
        font-weight: 600;
        font-size: 16px;



    }

    .section1 .card .ad p {
        font-weight: 400;
        font-size: 12px;


    }

    .section2,
    .section3 {
        display: flex;
        flex-direction: column;


    }


    .section2,
    .section2 .card,
    .section2 .slips,
    .section2 .slip,
    .section2 .subcard {
        height: auto !important;
    }

    .section2 .card h4,
    .section3 .card h4 {
        font-weight: 600;
        font-size: 16px !important;
        margin: 20px 0px;


    }

    .section2 .card {
        width: 325px;
        height: 199px;
        border-radius: 15px;


    }

    .section2 .card .slips {
        width: 285px;
        height: 45px;

    }

    .section2 .slips .slip> :nth-child(3),
    .section2 .slips .slip> :nth-child(4),
    .section2 .slips .slip> :nth-child(5) {
        display: none !important;
    }

    .section2 .slip>.square>img {
        width: 20px;
        height: 20px;
    }

    .section2 .slip .i h6 {
        font-weight: 500;
        font-size: 14px;
        /* updated */
        margin: 0;
    }

    .section2 .slip .i p {
        font-weight: 400;
        font-size: 12px;
        /* updated */
        margin: 0;
        color: #718EBF;
    }

    .section2 .slips .slip> :nth-child(6) h6 {
        color: #FE5C73;
    }

    .section2 .slips .slip:nth-child(3)> :nth-child(6) h6 {
        color: #16DBAA
    }

    .section2 table {
        width: 325px;
        height: 199px;
    }

    .section2 table tr td:nth-child(3),
    .section2 table tr td:nth-child(4),
    .section2 table tr td:nth-child(5) {

        display: none;
    }

    .section2 .card .my>h4 {
        font-weight: 600;
        font-size: 16px;

    }

    .section2 .card .my>p {

        font-weight: 600;
        font-size: 14px;

        text-align: right;

    }


    .section2 .card .credit {
        width: 325px;
        height: 197px;

    }

    .section2 .card .credit .subcard {
        width: 325px !important;
        height: 197px !important;
        padding: 20px;
    }

    .section2 .card .credit .subcard .balance div p {
        font-family: "lato", sans-serif;
        font-weight: 400;
        font-size: 12.74px;

    }

    .section2 .card .credit .subcard .balance div h5 {
        font-family: "lato", sans-serif;
        font-weight: 600;
        font-size: 18.53px;

    }

    .section2 .card .credit .subcard .balance>img {
        width: 33.58366775512695px;
        height: 33.58366775512695px;

    }

    .section2 .card .credit .subcard .info {
        width: 231.54718017578125px;
        height: 34.617332458496094px;
    }

    .section2 .card .credit .subcard .info .cardholder p,
    .section2 .card .credit .subcard .info .expiry p {
        font-family: "lato", sans-serif;
        font-weight: 400;
        font-size: 11.58px;
    }

    .section2 .card .credit .subcard .info .cardholder h6,
    .section2 .card .credit .subcard .info .expiry h6 {
        font-family: "lato", sans-serif;
        font-weight: 600;
        font-size: 15.05px;
    }

    .section2 .card .credit .subcard .number {
        width: 325px;
        height: 61px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-top: 40px;
        margin-left: -21px;
        padding: 20px;
    }

    .section2 .card .credit .subcard .number h3 {
        font-family: "lato", sans-serif;
        font-weight: 600;
        font-size: 17.37px;
    }

    .section2 .card .credit .subcard .number img {
        width: 41.07328796386719px;
        height: 28.00518798828125px;
    }

    .section3 .card:nth-child(1)>img {
        width: 325px;
        height: 245px;
    }

    .section3 .v {
        width: 325px;
        height: 265px;

    }

    .section3 .v2 {
        width: auto;
        height: 36px;
    }

    .section3 .v1 {
        display: flex;
        justify-content: space-between;
        width: 284px;
        height: 45px;

    }

    .section3 .v .v1>.v3 {
        display: block !important;
        width: 79px !important;
        height: 36px !important;
    }

    .section3 .v3 {
        width: 79px !important;
        height: 36px !important;

    }

    .section3 .v3 h6 {
        font-weight: 500;
        font-size: 14px;

    }

    .section3 .v1 p,
    .section3 .v3 p {
        font-weight: 400;
        font-size: 12px;
    }





}
