@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* font-family: "Lato", sans-serif; */
}


.container {
    background-color: #F5F7FA;
    width: 1190px;
    height: 1218px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}


.section1 {
    display: flex;
    justify-content: space-between;
    /* width: 77.44vw; */
}

.section1 .card {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;

    height: 260px;
    justify-content: space-between;


    >.my {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >h2 {
            font-weight: 600;
            font-size: 22px;

            color: #343C6A;
        }

    }

    >.credit {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        >.subcard {
            width: 350px;
            height: 225px;
            border-radius: 25px;
            padding: 25px;

            >.balance {
                display: flex;
                justify-content: space-between;

                >div p {

                    font-family: "Lato", sans-serif;
                    font-weight: 400;
                    font-size: 12px;


                }

                >div h5 {
                    font-family: "Lato", sans-serif;
                    font-weight: 600;
                    font-size: 20px;

                }

                >img {
                    height: 34.77px;
                    width: 34.77px;
                }

            }

            >.info {
                font-family: "Lato", sans-serif;
                width: 220px;
                height: 35px;
                display: flex;
                justify-content: space-between;
                margin: 29px 0;


                >.cardholder {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    >p {
                        font-family: "Lato", sans-serif;
                        font-size: 12px;
                        font-weight: 400;
                        color: #FFFFFFB2;

                    }

                    >h6 {
                        font-family: "Lato", sans-serif;
                        font-size: 15px;
                        font-weight: 600;
                    }



                }

                >.expiry {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    >p {
                        font-family: "Lato", sans-serif;
                        font-size: 12px;
                        font-weight: 400;
                        color: #FFFFFFB2
                    }

                    >h6 {
                        font-family: "Lato", sans-serif;

                        font-weight: 600;
                        font-size: 15px;

                        line-height: 100%;
                    }

                }
            }

            >.number {
                width: 350px;
                height: 70px;
                border-bottom-right-radius: 25px;
                border-bottom-left-radius: 25px;

                margin-left: -25px;
                padding: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                >h3 {
                    font-family: "Lato", sans-serif;
                    font-weight: 600;
                    font-size: 1.46vw;

                }

                >img {
                    width: 2.64vw;
                    height: 1.80vw;

                }
            }



        }
    }
}

.subcard:nth-child(2) {
    color: white;
    /* background-image: linear-gradient(to right, #4C49ED, #0A06F4); */
    background-image: linear-gradient(to bottom, #4C49ED, #0A06F4);

    >.number {
        background-image: linear-gradient(to bottom, #4C49ED, #0A06F4);
    }
}

.subcard:nth-child(1) {
    color: white;
    /* background-image: linear-gradient(to right, #4C49ED, #0A06F4); */
    background-image: linear-gradient(to bottom, #2D60FF, #539BFF);

    >.number {
        background-image: linear-gradient(to bottom, #2D60FF, #539BFF);
    }
}

.subcard:nth-child(3) {


    background-color: white;

    >.number {
        border-top: 1px solid #DFEAF2;
        background-color: white;
    }
}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.section2 .card {
    display: flex;
    flex-direction: column;

    >p {
        margin-top: 20px;
        font-weight: 600;
        font-size: 22px;
        color: #333B69;
        margin-bottom: 20px;

    }
}

.section2 .card:nth-child(1) {
    /* width: 350px;
    height: 357px; */

    >img {
        width: 350px;
        height: 310px;
        object-fit: contain;
    }

}

.section2 .card:nth-child(2) {
    >.slips {
        width: 730px;
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* gap: 1.04vw; */

        >.slip {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            padding: 20px;
            width: 730px;
            height: 90px;
            border-radius: 20px;


            >.square {
                display: flex;
                justify-content: center;
                align-items: center;
                /* width: 100%; */
                width: 60px;
                height: 60px;
                border-radius: 20px;
                background-color: #FFE0EB;

                >img {
                    width: 26px;
                    height: 26px;
                }


            }

            >.i h6 {

                font-weight: 500;
                font-size: 16px;
                color: #232323;
                margin-bottom: 10px;

            }

            >.i p {
                font-weight: 400;
                font-size: 15px;
                color: #718EBF;
            }

        }
    }
}

.slip button {
    background: white;
    border: none;
    font-weight: 500;
    font-size: 15px;
    color: #1814F3;


    /* border-color: white; */
}

.section2 .card:nth-child(2) .slips .slip:nth-child(1) .square {
    background-color: #E7EDFF;

}

.section2 .card:nth-child(2) .slips .slip:nth-child(3) .square {
    background-color: #FFF5D9;

}

.section3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    >.card:nth-child(1) {


        >p {
            font-weight: 600;
            font-size: 22px;
            /* color: #333B69; */
            margin: 20px;

        }

        >.bcard {
            width: 730px;
            height: 440px;
            display: flex;
            flex-direction: column;
            justify-content: center;


            background-color: white;
            padding: 20px;
            border-radius: 25px;

            >button {
                width: 160px;
                height: 50px;
                border-radius: 9px;
                background-color: #1814F3;
                color: white;
                font-weight: 500;
                font-size: 18px;
                border: none;
                margin-top: 25px;

            }

            >p {
                width: 580px;
                margin-bottom: 20px;
                color: #718EBF;
                font-weight: 400;
                font-size: 16px;


            }

            >.card-info {

                display: grid;
                grid-template-columns: auto auto;
                gap: 20px;

                >.v {
                    width: 320px;
                    height: 80px;
                    border-radius: 15px;
                    border-width: 1px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;


                    >p {
                        font-weight: 400;
                        font-size: 16px;
                        /* color: #232323; */
                    }

                    >input {
                        width: 320px;
                        height: 50px;
                        border-radius: 15px;
                        border: 1px solid #DFEAF2;
                        padding: 1.95vw;
                        font-size: 16px;
                        font-weight: 400;

                    }

                    >input::placeholder {
                        color: #718EBF;
                    }
                }

            }


        }
    }
}

.section3 {
    >.card:nth-child(2) {


        >p {
            font-weight: 600;
            font-size: 22px;
            color: #333B69;
            margin: 20px;

        }

        >.bcard {
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 350px;
            height: 440px;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            padding-top: 10px;


            >.card-info {
                width: 255px;
                height: 60px;
                display: flex;
                gap: 10px;
                margin-bottom: 10px;

                >.vcard {
                    /* width: 175px; */
                    height: 44px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    >h6 {

                        font-weight: 500;
                        font-size: 16px;
                        margin-bottom: 5px;
                    }

                    >p {
                        font-weight: 400;
                        font-size: 15px;
                        color: #718EBF;


                    }
                }



            }
        }
    }
}

.section3 .card:nth-child(2) .card-info .square {

    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: #FFF5D9;

    >img {
        width: 25px;
        height: 25px;
    }
}

.section3 .card:nth-child(2) .card-info:nth-child(2) .square {
    background-color: #E7EDFF;
}

.section3 .card:nth-child(2) .card-info:nth-child(3) .square {
    background-color: #FFE0EB;
}

.section3 .card:nth-child(2) .card-info:nth-child(4) .square {
    background-color: #DCFAF8;
}

.section3 .card:nth-child(2) .card-info:nth-child(5) .square {
    background-color: #DCFAF8;
}

@media screen and (max-width:1024px) {
    .container {
        width: 793px;
        height: 957px;
        padding: 30px;
    }



    .section1 .card {
        height: auto;

        >.my {

            >h2 {
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 18px;
            }

        }

        >.credit {
            gap: 20px;

            >.subcard {
                width: 231px;
                height: 170px;
                border-radius: 20px;
                padding: 20px;

                >.balance {
                    >div p {
                        font-weight: 400;
                        font-size: 11px;


                    }

                    >div h5 {
                        font-weight: 600;
                        font-size: 16px;

                    }

                    >img {
                        height: 29px;
                        width: 29px;
                    }

                }

                >.info {
                    font-family: "Lato", sans-serif;
                    width: 170px;
                    height: 30px;
                    display: flex;
                    justify-content: space-between;
                    margin: 18.5px 0;


                    >.cardholder {

                        >p {
                            font-size: 10px;
                            font-weight: 400;
                            color: #FFFFFFB2;

                        }

                        >h6 {
                            font-size: 13px;
                            font-weight: 600;
                        }



                    }

                    >.expiry {
                        >p {
                            font-size: 10px;
                            font-weight: 400;
                        }

                        >h6 {

                            font-weight: 600;
                            font-size: 13px;

                            line-height: 100%;
                        }

                    }
                }

                >.number {
                    width: 231px;
                    height: 51px;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    margin-left: -20px;
                    padding: 25px;

                    >h3 {
                        font-weight: 600;
                        font-size: 15px;

                    }

                    >img {
                        width: 27px;
                        height: 18.40909194946289px;


                    }
                }



            }
        }
    }

    .subcard:nth-child(3) .info .cardholder p,
    .subcard:nth-child(3) .info .expiry p {
        color: #718EBF !important;
    }




    .section2 {
        gap: 20px;
    }

    .section2 .card {

        >p {
            margin-top: 20px;
            font-weight: 600;
            font-size: 18px;
            color: #333B69;
            margin-bottom: 20px;

        }
    }

    .section2 .card:nth-child(1) {

        >img {
            width: 231px;
            height: 231px;
            object-fit: contain;
        }

    }

    .section2 .card:nth-child(2) {
        >.slips {
            width: 487px;
            height: 231px;

            /* gap: 1.04vw; */

            >.slip {
                padding: 20px;
                width: 487px;
                height: 69px;
                border-radius: 15px;

                >.square {
                    width: 45px;
                    height: 45px;
                    border-radius: 15px;
                    background-color: #FFE0EB;

                    >img {
                        width: 20px;
                        height: 20px;
                    }


                }

                >.i h6 {
                    font-weight: 500;
                    font-size: 12px;
                    color: #232323;
                    margin-bottom: 5px;

                }

                >.i p {
                    font-weight: 400;
                    font-size: 12px;
                    color: #718EBF;
                }

            }
        }
    }

    .slip button {
        font-size: 11px;
    }

    .section3 {
        gap: 20px;

        >.card:nth-child(1) {

            >p {
                font-weight: 600;
                font-size: 18px;
                color: #333B69;
                margin: 20px;

            }

            >.bcard {
                width: 487px;
                height: 321px;
                border-radius: 20px;

                >button {
                    width: 120px;
                    height: 40px;
                    border-radius: 9px;
                    font-weight: 500;
                    font-size: 15px;
                    border: none;
                    margin-top: 25px;

                }

                >p {
                    width: 434px;
                    margin-bottom: 20px;
                    color: #718EBF;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 22px;


                }

                >.card-info {
                    gap: 20px;

                    >.v {
                        width: 211px;
                        height: 62px;
                        border-radius: 15px;
                        border-width: 1px;


                        >p {
                            font-weight: 400;
                            font-size: 12px;
                            color: #232323;
                        }

                        >input {
                            width: 211px;
                            height: 40px;
                            border-radius: 15px;
                            border: 1px solid #DFEAF2;
                            padding: 20px;
                            font-size: 12px;
                            font-weight: 400;

                        }

                        >input::placeholder {
                            color: #718EBF;
                        }
                    }

                }


            }
        }
    }

    .section3 {
        >.card:nth-child(2) {

            >p {
                font-weight: 600;
                font-size: 18px;
                color: #333B69;
                margin: 20px;

            }

            >.bcard {
                width: 231px;
                height: 321px;
                border-radius: 20px;
                padding-top: 10px;


                >.card-info {
                    width: 184px;
                    height: 45px;
                    gap: 10px;
                    margin-bottom: 10px;

                    >.vcard {
                        /* width: 175px; */
                        height: 32px;

                        >h6 {
                            font-weight: 500;
                            font-size: 12px;
                            margin-bottom: 5px;
                        }

                        >p {
                            font-weight: 400;
                            font-size: 10px;
                            color: #718EBF;


                        }
                    }



                }
            }
        }
    }

    .section3 .card:nth-child(2) .card-info .square {

        width: 45px;
        height: 45px;
        border-radius: 15px;
        background-color: #FFF5D9;

        >img {
            width: 20px;
            height: 20px;
        }
    }

}


@media screen and (max-width: 500px) {
    .overview h1 {
        width: 140px !important;
    }

    .container {
        width: 375px;
        display: flex;
        flex-direction: column;
    }

    .section1 {
        width: 550px;
        height: 170.000244140625px;

    }

    .credit .subcard:nth-child(3) {
        display: none !important;
    }

    .credit .subcard .number {
        margin-top: 0px !important;
    }

    .section2,
    .section3 {
        display: flex;
        flex-direction: column;
    }

    .section2 .card:nth-child(1) img {
        width: 325px;
        height: 300px;
    }

    .section2 .card:nth-child(2) .slips {
        width: 325px;
        height: 227px;

    }

    .section2 .card:nth-child(2) .slips .slip {
        width: 325px;
        height: 69px;
        border-radius: 10px;
    }

    .section2 .card:nth-child(2) .slips .slip .square img {
        width: 20px;
        height: 20px;
    }

    .section2 .slip>*:not(:nth-child(1)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(6)) {
        display: none;
    }

    .section2 .card:nth-child(2) .slips .slip .i h6 {
        font-weight: 500;
        font-size: 14px;
    }

    .section2 .card:nth-child(2) .slips .slip .i p {
        font-weight: 400;
        font-size: 12px;
    }

    .section2 .slip button {
        font-weight: 500;
        font-size: 11px;

    }

    .section3 .card:nth-child(1) {
        width: 325px;
        height: auto;
        border-radius: 15px;

    }

    .section3 .card:nth-child(1) .bcard {
        width: 325px;
        height: auto;
        border-radius: 15px;
    }

    .section3 .card:nth-child(1) .bcard>p {
        width: 285px;
        height: 110px;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;

    }

    .section3 .card:nth-child(1) .bcard .card-info {
        display: flex;
        flex-direction: column;
    }

    .section3 .card:nth-child(1) .bcard .card-info .v {
        width: 285px;
        height: 65px;
        border-radius: 10px;
        border-width: 1px;

    }

    .section3 .card:nth-child(1) .bcard .card-info .v input {
        width: 285px;
        height: 40px;
        border-radius: 10px;
        border-width: 1px;
        font-weight: 400;
        font-size: 12px;

    }

    .section3 .card:nth-child(1) .bcard .card-info .v p {
        font-weight: 400;
        font-size: 13px;

    }

    .section3 .card:nth-child(1) .bcard button {
        width: 285px;
        height: 40px;
        border-radius: 9px;
        font-weight: 500;
        font-size: 15px;
        text-align: center;

    }

    .section3 .card:nth-child(2) .bcard {
        align-items: flex-start;
        padding-left: 30px;
        width: 325px;
        height: auto;
    }

    .section3 .card:nth-child(2) .bcard .card-info {
        width: 197px;
        height: 45px;
    }

    .section3 .card:nth-child(2) .bcard .card-info .square img {
        width: 20px;
        height: 20px;
    }

    .section3 .card:nth-child(2) .bcard .card-info .vcard h6 {

        font-weight: 500;
        font-size: 14px;

    }

    .section3 .card:nth-child(2) .bcard .card-info .vcard p {

        font-weight: 400;
        font-size: 12px;

    }

    .section3 .card:nth-child(2) .bcard .card-info .vcard {
        width: 200px;
        height: auto;
    }

    .section2 .card p {

        font-weight: 600;
        font-size: 16px;
        margin: 20px 0;


    }

    .section3 .card>p {
        font-weight: 600;
        font-size: 16px !important;
        margin: 20px 0 !important;
    }

    .section1,
    .section2,
    .section3 {
        align-items: flex-start !important;
    }






}
