@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* font-family: "Lato", sans-serif; */
}


h4 {

    font-weight: 600;
    font-size: 1.76vw;
    margin: 20px 0;

}

h5 {
    color: #232323;
    font-weight: 600;
    font-size: 20px;
}

h6 {
    font-weight: 500;
    font-size: 16px;


}

/* p {
    font-weight: 400;
    font-size: 1.17vw;
} */

.container {
    background-color: #F5F7FA;
    width: 1190px;
    height: 955px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.section1 {
    display: flex;
    justify-content: space-between;
}

.section1 .cards {
    display: flex;
    width: 1110px;
    height: 120px;
    justify-content: space-between;
}

.section1 .card {
    width: 350px;
    height: 120px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    >.ad {
        >p {
            margin-bottom: 10px;
            color: #718EBF;
        }
    }


}

.circle {
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        width: 31px !important;
        height: 31px !important;
    }
}

.card:nth-child(1) .circle {
    background-color: #DCFAF8;
}

.card:nth-child(2) .circle {
    background-color: #FFE0EB;

}

.card:nth-child(3) .circle {
    background-color: #E7EDFF;

}

.section2,
.section3 {
    gap: 20px;
}

.section2 {
    display: flex;
    justify-content: center;

    >.card {
        >img {
            width: 540px;
            height: 282px;
            border-radius: 25px;
            background-color: white;
            object-fit: contain;
        }
    }
}

.section2 .card h4,
.section3 .card h4 {
    color: #333B69;
}

.section3 {
    display: flex;
    justify-content: center;

}


.section3 .slips {
    width: 635px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;


}

.section3 .slip {
    width: 635px;
    height: 90px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    >.i {
        >p {
            font-family: "inter", sans-serif;
            font-weight: 400;
            font-size: 15px;
            color: #718EBF;
        }

        >h6 {
            font-family: "inter", sans-serif;
            font-weight: 500;
            font-size: 16px;

        }
    }
}

.section3 .slips .slip .i:nth-child(4) h6 {
    color: #16DBAA;
}

.section3 .slips .slip:nth-child(2) .i:nth-child(4) h6 {
    color: #FE5C73;
}

.section3 .slip .square {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: #FFE0EB;

    >img {
        width: 25.107126235961914px;
        height: 25px;
    }
}

.section3 .slip:nth-child(2) .square {
    background-color: #E7EDFF;

}

.section3 .slip:nth-child(3) .square {
    background-color: #E7EDFF;

}

table {
    border-collapse: collapse;
    background-color: white;
    width: 445px;
    height: 300px;
    border-radius: 25px;




}

td,
th {
    text-align: left;
    padding: 15px;
    /* padding: 20px; */
}

th {
    /* padding-top: 10px; */
    font-weight: 500;
    font-size: 16px;
    color: #718EBF;
}

td {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;

}

tr td:nth-child(4) {
    color: #16DBAA;
}

tr:nth-child(3) td:nth-child(4),
tr:nth-child(5) td:nth-child(4) {
    color: #FE5C73;
}

@media screen and (max-width:1024px) {
    h4 {

        font-weight: 600;
        font-size: 1.76vw;
        margin: 20px 0;


    }

    h5 {

        color: #232323;
        font-weight: 600;
        font-size: 16px;
    }

    h6 {
        font-weight: 500;
        font-size: 12px;
    }

    .container {
        width: 793px;
        height: 869px;
        padding: 30px;
    }

    .section1 .cards {
        width: 743px;
        height: 90px;
        gap: 20px;
    }

    .section1 .card {
        width: 231px;
        height: 90px;
        border-radius: 20px;
        gap: 5px;

        >.ad {
            >p {
                font-size: 12px;
                margin-bottom: 5px;
                color: #718EBF;
            }
        }


    }

    .circle {
        width: 50px !important;
        height: 50px !important;
        border-radius: 50%;

        >img {
            width: 20px !important;
            height: 20px !important;
        }
    }

    .section2,
    .section3 {
        gap: 20px;
    }

    .section2 {
        display: flex;
        justify-content: center;

        >.card {
            >img {
                width: 359px;
                height: 226px;
                border-radius: 20px;
                object-fit: contain;
            }
        }
    }


    .section3 .slips {
        width: 423px;
        height: 227px;
        gap: 10px;
    }

    .section3 .slip {
        width: 423px;
        height: 69px;
        border-radius: 15px;
        padding: 20px;

        >.i {
            >p {
                font-weight: 400;
                font-size: 11px;
            }

            >h6 {
                font-weight: 500;
                font-size: 12px;

            }
        }
    }

    .section3 .slip .square {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 15px;
        background-color: #FFE0EB;

        >img {
            width: 20.08570098876953px;
            height: 20px;
        }
    }

    table {
        width: 295px;
        height: 227px;
        border-radius: 20px;
    }

    td,
    th {
        padding: 10px;
    }

    th {
        font-weight: 500;
        font-size: 12px;
    }

    td {
        font-weight: 400;
        font-size: 12px;

    }

    tr td:nth-child(4) {
        color: #16DBAA;
    }

    tr:nth-child(3) td:nth-child(4),
    tr:nth-child(5) td:nth-child(4) {
        color: #FE5C73;
    }
}

@media screen and (max-width:500px) {
    .container {
        padding: 20px 15px !important;
    }


    .section1 {
        display: flex;
        flex-direction: column;
        width: 325px;
        height: 285px !important;

    }

    .section1 .cards {
        display: flex;
        flex-direction: column;
        width: 325px;
        height: 285px !important;
        align-items: center;
    }

    .section1 .cards .card {
        width: 325px !important;
        height: 85px !important;


    }

    .section1 .card .ad p {
        font-weight: 400;
        font-size: 12px;
    }

    .section1 .card .ad h5 {
        font-weight: 600;
        font-size: 16px;

    }

    .section2,
    .section3 {
        flex-direction: column;
    }

    .section2 .card img {
        width: 325px;
        height: 225px;

    }

    .section2 .card h4,
    .section3 .card h4 {
        font-weight: 600;
        font-size: 16px;
    }

    .section3 .slips {
        justify-content: space-between;
        width: 325px;
        height: 227px;

    }

    .section3 .slips .slip {
        gap: 20px;
        width: 325px;
        height: 69px;

    }

    .section3 .slip .i p {
        font-weight: 400;
        font-size: 12px;
    }

    .section3 .slip .i h6 {
        font-weight: 500;
        font-size: 14px;

    }

    .section3 .slip .i {
        width: 150px;
        height: 36px;

    }

    .section3 .slip :nth-child(3) {
        display: none !important;
    }

    /* hide only <p> inside the 4th child element (keep its <h6>) */
    .section3 .slip :nth-child(4) p {
        display: none !important;
    }

    .section3 .slip :nth-child(4) h6 {
        color: #16DBAA;
        font-weight: 500;
        font-size: 12px;
    }

    .section3 .slip .square img {
        width: 20px;
        height: 20px;
    }

    .section3 .card .slips .slip> :nth-child(4) {
        margin-left: 40px;
        margin-right: -90px;

    }

    table {
        width: 325px;
        height: 213px;

    }

    table th {
        font-weight: 400;
        font-size: 12px;

    }

    table td {
        font-weight: 400;
        font-size: 12px;

    }






}
