@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* font-family: "Lato", sans-serif; */
}


/* start 0f container */
.container {
    /* margin-left: 4.41vw; */
    /* margin: 25px; */
    background-color: #F5F7FA;
    width: 1190px;
    height: 923px;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.section {
    display: flex;
    flex-direction: column;
    /* margin: 2.93vw; */
    padding: 30px;
    background-color: #FFFFFF;
    width: 1110px;
    height: 531px;
    border-radius: 25px;

}

.slip {
    display: flex;

    >span {
        position: relative;
        margin: 35px;
        margin-left: 0;

        p {

            color: #718EBF;
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;

        }
    }


}

.slip span::before {
    display: block;
    content: '';
    background-color: #1814F3;
    position: absolute;
    width: 9.18vw;
    height: 0.29vw;

    margin-top: 3.91vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0;

}

.slip span:hover:before {
    opacity: 1;

}

.slip span p:hover {
    cursor: pointer;

}

.section hr {
    /* color: red; */
    width: 1050px;
    height: 1px;
    border: 1px solid #F4F5F7;
}

.two-factor {
    margin-top: 35px;
}

.two-factor p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    color: #333B69;


}

.enable {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.enable-button {
    position: relative;
    width: 56px;
    height: 30.70967674255371px;
    border-radius: 25px;

    background-color: #16DBCC;

    >.circle {
        position: absolute;
        width: 27px;
        height: 27px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 2px 5px 0px #0000001A;
        margin-left: 28px;
        margin-top: 1px;


    }


}

.section .two-factor .pp p {
    margin-top: 18px;
}

.current-password,
.new-password {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 18px;
    width: 510px;
    height: 80px;
    border-radius: 15px;
    border: 1px solid #DFEAF2;

    >input {
        width: 510px;
        height: 50px;
        border: 1px solid #DFEAF2;
        border-radius: 15px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        padding-left: 18px;
        font-size: 15px;



    }

    >input::placeholder {
        color: #718EBF;
    }


}

.button {
    display: flex;
    justify-content: flex-end;
}

.button button {
    width: 190px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #1814F3;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    /* margin-left: 775px; */


}

@media screen and (max-width:1024px) {
    .container {
        width: 793px;
        height: 957px;
        padding: 30px;
    }

    .section {
        padding: 30px;
        width: 743px;
        height: 470px;
        border-radius: 20px;
    }

    .slip {

        >span {
            margin: 35px;
            margin-left: 0;

            p {
                font-weight: 500;
                font-size: 12px;
            }
        }


    }

    .slip span::before {
        display: block;
        content: '';
        background-color: #1814F3;
        position: absolute;
        width: 9.18vw;
        height: 0.29vw;

        margin-top: 3.91vw;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        opacity: 0;

    }

    .slip span:hover:before {
        opacity: 1;

    }

    .slip span p:hover {
        cursor: pointer;

    }

    .section hr {
        /* color: red; */
        width: 693px;
        height: 1px;
        border: 1px solid #F4F5F7;
    }

    .two-factor {
        margin-top: 35px;
    }

    .two-factor p {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #333B69;


    }

    .enable {
        margin-top: 35px;
        gap: 20px;
    }

    .enable-button {
        width: 44px;
        height: 24px;
        border-radius: 20px;

        >.circle {
            position: absolute;
            width: 21.21px;
            height: 21.1px;
            background-color: white;
            border-radius: 50%;
            box-shadow: 0px 2px 5px 0px #0000001A;
            margin-left: 22px;
            margin-top: 1px;


        }


    }

    .section .two-factor .pp p {
        margin-top: 18px;
    }

    .current-password,
    .new-password {
        width: 334px;
        height: 63px;
        border-radius: 15px;


        >input {
            width: 334px;
            height: 40px;
            border-radius: 15px;

            padding-left: 15px;
            font-size: 12px;



        }

        >input::placeholder {
            color: #718EBF;
        }


    }


    .button button {
        width: 130px;
        height: 40px;
        border-radius: 9px;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
        /* margin-left: 775px; */


    }

}

@media screen and (max-width: 500px) {
    .container {
        padding: 20px 0 !important;
    }

    .section {
        width: 325px;
        height: 440px;
        border-radius: 15px;
    }

    .slip {
        width: 285px;
        height: 25px;
        justify-content: space-around;
        align-items: center;
    }

    .slip span p {
        font-weight: 500;
        font-size: 13px;
    }

    .two-factor p {
        font-family: "Inter", sans-serif;

        font-weight: 500;
        font-size: 14px;
    }

    .current-password,
    .new-password {
        width: 285px;
        height: 65px;
        border-radius: 10px;
        border-width: 1px;

        >input {
            width: 285px;
            height: 40px;
            border-radius: 10px;
            border-width: 1px;
            font-weight: 400;
            font-size: 12px;
        }
    }

    .enable-button {
        width: 44px;
        height: 24px;
        border-radius: 25px;

        >.circle {
            width: 18.214285px;
            height: 21.10084px;
            margin-left: 13px;
            margin-top: 1px;

        }

    }

    .two-factor span.pp p {
        margin: 15px 0px;
    }

    .button {
        justify-content: flex-start;

    }

    .button button {
        width: 285px;
        height: 40px;
        border-radius: 9px;
        margin: 15px 0;
        font-weight: 500;
        font-size: 15px;

    }

}
